body {
    background-color: rgb(234, 222, 222);
    padding: 0;
    margin: 0;
  }

  #navbar {
    background-color: #FFFFFF;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
  }

a:link{
    color: black;
}

a:hover{
    color:red;
}

a{
    text-decoration: none;
}
  .outside_link {
    margin: 0 10px;
  }

  .base_box {
    background-color: white;
    margin: 30px;
    padding : 20px;
    height: 180px;
  }

  .base_box2 {
    background-color: white;
    margin: 30px;
    padding : 20px;
  }

  .base_box_utama {
    background-color: rgba(208, 205, 205, 0.368);
    margin: 30px;
    padding: 20px;
  }

  .col-25 {
      float: left;
      display: table;
      text-align: center;
  }

  .column {
    float: left;
    padding: 5px;
  }

  .left, .right {
    width: 10%;
    padding-left: 50px;
  }
  
  .middle {
    width: 50%;
  }

  table{
    padding: 5px;
    .td{
      padding-right: 10px;
    }
    border-spacing: 5px;
  }

  label{
    font-weight: bold;
  }

  #percobaan {
    font-size: 1em;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }